---
import { Button } from '@/components/ui/button';
import type { Product } from '../store.astro';
import Layout from "@/layouts/Layout.astro";

export function getStaticPaths() {
  const paths: {params: {id: number}}[] = []
  for (let i = 1; i <= 20; i++) {
    paths.push({params: {id: i}})
  }

  return paths
}

const {id} = Astro.params
const response = await fetch(`https://fakestoreapi.com/products/${id}`)
const product: Product = await response.json()
const rating = product.rating
---

<Layout classes="p-12 text-white" title={product.category}>
  <div class="flex flex-row justify-between min-w-full  p-4">
    <img class="min-w-[120px] max-w-[360px] rounded-md" src={product.image} />
    <div class="flex flex-col items-start px-12 gap-4">
      <h1 class="text-4xl font-bold overflow-clip">{product.title}</h1>
      <p>$ {product.price}</p>
      <div class="flex items-center">
        <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>
        <p class="ml-2 text-sm font-bold ">{rating.rate}</p>
        <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
        <p class="text-sm font-medium underline">{rating.count} reviews</p>
      </div>
      <Button onClick={() => console.log("To be implemented")} variant="secondary">Add to cart</Button>
    </div>
  </div>
  <hr class="mt-6"/>
  <p class="font-mono line-clamp-6 py-8">{product.description}</p>
</Layout>
